## ¿Qué es una variable?

### Booleanos

In [1]:
False

False

In [2]:
True

True

### Numéricas

Integers

In [ ]:
2

In [4]:
3 + 5

8

Float

In [6]:
3.14159 + 2.71828

5.85987

Complex

In [ ]:
imaginario = 3 + 5j

### String

In [7]:
"Hola, mundo"

'Hola, mundo'

### Operadores

Suma: +

Resta: -

Multiplicación: *

División: /

Potencia: **

## Definir variables

In [9]:
hola = "Hola, mundo"
hola

'Hola, mundo'

In [12]:
type(hola)

str

In [10]:
suma_variable = 3.14159 + 2.71828

In [13]:
type(suma_variable)

float

## Print

In [16]:
print(hola)

Hola, mundo

In [20]:
print(suma_variable)

5.85987

In [22]:
if suma_variable == str:
    print("Es un string")
else:
    print("No es un string")

No es un string

## Operaciones entre variables

In [50]:
# Suma
3 + 5

8

In [51]:
# Resta
3 - 5

-2

In [52]:
# Multiplicación
3 * 5

15

In [53]:
# División
3 / 5

0.6

In [54]:
# Potencia
3 ** 5

243

In [56]:
# Residuo
10 % 3

1

## Variables numéricas y no numéricas no se pueden operar entre si

In [25]:
adios = "Adios, mundo"
variable_int = 2 + 2
variable_bool = True
variable_complex = 3 + 5j

In [26]:
suma_variable = adios + variable_int

TypeError: can only concatenate str (not "int") to str

In [28]:
suma_variable_2 = variable_complex + variable_int
print(suma_variable_2)

(7+5j)

In [30]:
suma_variable_3 = variable_complex + variable_bool
print(suma_variable_3)

(4+5j)

In [32]:
suma_strings = adios + " " + "cruel"
print(suma_strings)

Adios, mundo cruel

### Convertir tipos de variables

In [33]:
variable_float = 3.14159

In [34]:
print(variable_float)

3.14159

In [35]:
variable_float_convertida = str(variable_float)
print(variable_float_convertida)

3.14159

In [37]:
type(variable_float)

float

In [36]:
type(variable_float_convertida)

str

In [38]:
variable_float + " es igual a Pi"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [39]:
variable_float_convertida + " es igual a Pi"

'3.14159 es igual a Pi'

In [67]:
float(5)

5.0

In [74]:
int(3.999999999)

3

In [75]:
int("hola")

ValueError: invalid literal for int() with base 10: 'hola'

### Input

In [41]:
valor_1 = input("Introduce el sumando 1: ")
valor_2 = input("Introduce el sumando 2: ")

In [42]:
suma_inputs = valor_1 + valor_2

In [43]:
print(suma_inputs)

1533

In [44]:
suma_inputs_numerico = int(valor_1) + int(valor_2)

In [45]:
print(suma_inputs_numerico)

48

In [46]:
multiplo_1 = float(input("Introduce el primer número: "))
multiplo_2 = float(input("Introduce el segundo número: "))

In [48]:
multiplicacion_inputs = multiplo_1 * multiplo_2

In [49]:
print(multiplicacion_inputs)

19.743385200000002

### Dinámica: Clasificar si el número es par

In [59]:
numero_ingresado = float(input("Introduce un número: "))

if numero_ingresado % 2 == 0:
    print("El número es par")
elif numero_ingresado == 1:
    print("El número es 1, no se puede dividir entre 2")
else:
    print("El número es impar")

El número es par

## Variables múltiples

In [63]:
x, y, z = 4, 74, 1200

print(x)
print(y)
print(z)

4
74
1200

In [64]:
coordenadas = input("Introduce las coordenadas x, y, z divididas por comas: ")
print(coordenadas)

4,74,1200

In [65]:
x, y, z = coordenadas.split(",")

In [66]:
print(x)
print(y)
print(z)

4
74
1200

## Darle sentido a las variables

Cuantitativa

In [77]:
densidad_roca_1 = 1.25
densidad_roca_2 = 2.93
densidad_roca_3 = 3.1
densidad_roca_4 = 2.7

In [78]:
densidad_media_rocas = (densidad_roca_1 + densidad_roca_2 + densidad_roca_3 + densidad_roca_4) / 4

print(densidad_media_rocas)

2.495

In [79]:
#Concatenación de variables
print("La densidad media de las rocas es: ", densidad_media_rocas, "g/cm3")

La densidad media de las rocas es:  2.495 g/cm3

Cualitativas

In [80]:
tipo_roca_1 = "caliza"
tipo_roca_2 = "granito"
tipo_roca_3 = "arenisca"
tipo_roca_4 = "arcillolita"

In [82]:
print("La densidad de la roca", tipo_roca_1, "es", densidad_roca_1, "g/cm3")

La densidad de la roca caliza es 1.25 g/cm3

### Ejercicio OOIP

In [83]:
porosidad = 0.25
net_pay = 50
area = 1000 #acres
sw = 0.25
boi = 1.1
cte = 1.5

In [84]:
stooiip = (cte*area*net_pay*porosidad*(1-sw))/boi

print("Petroleo Original In Situ: ", stooiip, "mmbbbls")

Petroleo Original In Situ:  12784.090909090908 mmbbbls

## Redondear

In [88]:
round(stooiip, 4)

12784.0909

## F-Strings

f"texto {variable:operador} más texto"

In [89]:
print(f"stooiip: {stooiip:.4f}")

stooiip: 12784.0909

In [91]:
rqd = (12 + 15 + 25 + 19 + 11) / (8 + 12 + 15 + 9 + 25 + 19 + 11 + 4)
rqd

0.7961165048543689

In [93]:
print(f"El RQD en porcentaje es: {rqd:.2%}")

El RQD en porcentaje es: 79.61%

# Lógica Computacional

## Operadores de comparación

In [3]:
2 + 2 > 3

True

In [4]:
2 + 2 < 3

False

In [5]:
2 * 5 >= 15

False

In [6]:
3 ** 4 == 81

True

In [7]:
3 ** 4 != 81

False

Ejemplo: densidad media de las rocas

In [8]:
densidad_roca_1 = 1.25
densidad_roca_2 = 2.93
densidad_roca_3 = 3.1
densidad_roca_4 = 2.7

In [9]:
mean_density = (densidad_roca_1 + densidad_roca_2 + densidad_roca_3 + densidad_roca_4) / 4

In [11]:
print(mean_density > 2.5)
print(mean_density)

False
2.495

## Operadores lógicos

In [12]:
True or False

True

In [13]:
True and False

False

In [15]:
not False

True

Ejemplo: comparaciones con operadores lógicos

In [16]:
(2 + 2 > 3) and (2 + 2 < 3)

False

In [17]:
(2 + 2 > 3) and (2 + 2 < 3) and (2 * 5 >= 15)

False

## Condicionales

`if condicion:`\
`# Código a ejecutar si es verdadera`\
`elif condición:`\
`# Código a ejecutar si es falsa`\
`else:`\
`# Código a ejecutar si las anteriores son falsas`

In [20]:
if False:
    print("Es verdadero")
else:
    print("Es falso")

Es falso

In [22]:
if 2 + 2 == 5:
    print("2 + 2 es 5")
else:
    print("2 + 2 no es 5")

2 + 2 no es 5

Ejemplo: Magnitud de un terremoto

In [24]:
magnitud = float(input("Introduce la magnitud del sismo: "))

if magnitud < 3.5:
    print("El sismo es de magnitud menor a 3.5 y, por ende, no es peligroso")
elif magnitud >= 3.5 and magnitud < 5.5:
    print("El sismo es de magnitud mayor o igual a 3.5 y menor a 5.5 y, por ende, es moderadamente peligroso")
elif magnitud >= 5.5 and magnitud < 7.5:
    print("El sismo es de magnitud mayor o igual a 5.5 y menor a 7.5 y, por ende, es peligroso")
elif magnitud < 0:
    print("La magnitud no puede ser negativa")
else:
    print("El sismo es de magnitud mayor o igual a 7.5 y, por ende, es muy peligroso")

El sismo es de magnitud mayor o igual a 3.5 y menor a 5.5 y, por ende, es moderadamente peligroso

# Estructuras de datos

## Lista

In [25]:
rocas = ["caliza", "granito", "arenisca", "arcillolita"]
print(rocas)

['caliza', 'granito', 'arenisca', 'arcillolita']

In [26]:
type(rocas)

list

In [28]:
type(rocas[0])

str

In [29]:
rocas.append("mármol")
print(rocas)

['caliza', 'granito', 'arenisca', 'arcillolita', 'mármol']

In [30]:
rocas.remove("granito")
print(rocas)

['caliza', 'arenisca', 'arcillolita', 'mármol']

In [33]:
rocas.extend(["lutita", "dolomita"])
print(rocas)

['caliza', 'arenisca', 'arcillolita', 'mármol', 'lutita', 'dolomita']

In [34]:
len(rocas)

6

In [36]:
if "arenisca" in rocas:
    print("La arenisca está en la lista de rocas")

La arenisca está en la lista de rocas

In [38]:
rocas[5]

'dolomita'

In [39]:
rocas[0:3]

['caliza', 'arenisca', 'arcillolita']

In [40]:
rocas[::2]

['caliza', 'arcillolita', 'lutita']

In [47]:
rocas[1:]

['arenisca', 'arcillolita', 'mármol', 'lutita', 'dolomita']

In [42]:
rocas[3:-1]

['mármol', 'lutita']

## Tuplas

In [48]:
coordenadas = (4, 74, 1200)
print(coordenadas)

(4, 74, 1200)

In [52]:
coordenadas[::2]

(4, 1200)

## Conjuntos

In [53]:
minerales = set(["cuarzo", "feldespato", "mica", "cuarzo"])
print(minerales)

{'mica', 'cuarzo', 'feldespato'}

In [54]:
conjunto_a = set([1, 2, 3, 4, 5])
conjunto_b = set([4, 5, 6, 7, 8])

In [55]:
print(conjunto_a | conjunto_b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
print(conjunto_a & conjunto_b)

{4, 5}

In [58]:
print(conjunto_b - conjunto_a)

{8, 6, 7}

In [59]:
print(conjunto_a ^ conjunto_b)

{1, 2, 3, 6, 7, 8}

## Diccionarios

In [60]:
muestra_mina = {"id": 1234, "tipo de roca": "sedimentaria", "edad": 300, "porosidad": 0.25, "densidad": 2.5, "localización": (4, 74, 1200)}

print(muestra_mina)

{'id': 1234, 'tipo de roca': 'sedimentaria', 'edad': 300, 'porosidad': 0.25, 'densidad': 2.5, 'localización': (4, 74, 1200)}

In [61]:
muestra_mina

{'id': 1234,
 'tipo de roca': 'sedimentaria',
 'edad': 300,
 'porosidad': 0.25,
 'densidad': 2.5,
 'localización': (4, 74, 1200)}

In [62]:
muestra_mina["tipo de roca"]

'sedimentaria'

In [65]:
muestra_mina["tipo de roca"] = "ígnea"

In [66]:
muestra_mina["textura"]= "fanerítica"

In [67]:
muestra_mina

{'id': 1234,
 'tipo de roca': 'ígnea',
 'edad': 300,
 'porosidad': 0.25,
 'densidad': 2.5,
 'localización': (4, 74, 1200),
 'textura': 'fanerítica'}

# Bucles

In [70]:
n = 0

while n < 5:
    print(n)
    n += 1

0
1
2
3
4

In [71]:
n = [0, 1, 2, 3, 4]

for i in n:
    print(i)

0
1
2
3
4

**Ejemplo**: imprimir la edad de las muestras dentro de una lista

In [72]:
edad_muestras = [("arenisca", 300), ("caliza", 200), ("granito", 500), ("arcillolita", 100)]

In [74]:
for muestra in edad_muestras:
    print(f"La muestra es de tipo {muestra[0]} y tiene una edad de {muestra[1]} millones de años")

La muestra es de tipo arenisca y tiene una edad de 300 millones de años
La muestra es de tipo caliza y tiene una edad de 200 millones de años
La muestra es de tipo granito y tiene una edad de 500 millones de años
La muestra es de tipo arcillolita y tiene una edad de 100 millones de años

In [75]:
while True:
    edad = input("Introduce la edad de la muestra: ")
    if edad == "salir":
        break
    print(f"La edad de la muestra es {edad} millones de años")

La edad de la muestra es 500 millones de años
La edad de la muestra es 444 millones de años
La edad de la muestra es 48 millones de años
La edad de la muestra es 85 millones de años
La edad de la muestra es 845 millones de años
La edad de la muestra es 81 millones de años

In [76]:
muestras_suelo = ["arcilla", "limo", "arena", "grava", "cobertura vegetal"]

In [77]:
for i, muestra in enumerate(muestras_suelo):
    print(f"La muestra {i} es de tipo {muestra}")

La muestra 0 es de tipo arcilla
La muestra 1 es de tipo limo
La muestra 2 es de tipo arena
La muestra 3 es de tipo grava
La muestra 4 es de tipo cobertura vegetal

### List Comprehension

In [78]:
temperaturas_celsius = [23, 25, 27, 30, 32, 35, 37, 40]
temperaturas_farenheit = [(temp*9/5) + 32 for temp in temperaturas_celsius]

In [79]:
temperaturas_farenheit

[73.4, 77.0, 80.6, 86.0, 89.6, 95.0, 98.6, 104.0]

In [81]:
temperaturas_farenheit = []

for i in temperaturas_celsius:
    temperaturas_farenheit.append((i*9/5) + 32)

temperaturas_farenheit

[73.4, 77.0, 80.6, 86.0, 89.6, 95.0, 98.6, 104.0]

# Funciones

In [84]:
def densidad(masa, volumen):
    densidad = masa / volumen
    return densidad

In [85]:
masa_roca = 2650
volumen_roca = 500

densidad_roca = densidad(masa_roca, volumen_roca)
densidad_roca

5.3

Función Lambda

In [87]:
densidad_roca = lambda masa, volumen: masa / volumen

In [88]:
densidad_roca(masa_roca, volumen_roca)

5.3

Ejemplo: función filtro

In [89]:
densidades_muestras = [2.22, 2.65, 2.93, 2.7, 2.5, 2.8, 2.9, 2.6, 2.4, 2.7]

In [93]:
def filtro_densidad(lista_densidades):
    media = sum(lista_densidades) / len(lista_densidades)
    densidades_filtradas = [i for i in lista_densidades if i < media]
    return densidades_filtradas

In [96]:
media_muestras = sum(densidades_muestras) / len(densidades_muestras)
media_muestras

2.6399999999999997

In [94]:
densidades_menores_media = filtro_densidad(densidades_muestras)

In [95]:
print(densidades_menores_media)

[2.22, 2.5, 2.6, 2.4]